# Entorno virtual
venv/

# Archivos de caché
__pycache__/
*.pyc

# Configuración de VS Code
.vscode/

# Carpetas ignoradas
report_actas/
reportes/
reportess/
build/
exportar/
photos/

# Ignorar dist y todo su contenido interno
dist/
**/dist/

# Ignorar cualquier carpeta labels sin importar la profundidad
labels/
**/labels/

# Ignorar todos los archivos PDF en cualquier subdirectorio
*.pdf
**/*.pdf